Repository DimensionDev/Maskbook, pull requests merged in 2019-08, with the labels that each got.

#92 Multiple Networks support (part 2)
  just.config.js
  package.json
  src/_locales/en/messages.json
  src/_locales/zh/messages.json
  src/components/DataSource/useActivatedUI.ts
  src/components/InjectedComponents/AdditionalPostBox.tsx
  src/components/InjectedComponents/DecryptedPost.tsx
  src/components/InjectedComponents/PostInspector.tsx
  src/components/InjectedComponents/SelectPeopleDialog.tsx
  src/components/MobileImportExport/Export.tsx
  src/components/Welcomes/0.tsx
  src/components/Welcomes/1a1a.tsx
  src/components/Welcomes/1a1b.tsx
  src/components/Welcomes/1a4.auto.tsx
  src/components/Welcomes/1a4.v2.tsx
  src/components/Welcomes/Banner.tsx
  src/components/shared/ChooseIdentity.tsx
  src/components/shared/NotSetupYetPrompt.tsx
  src/components/shared/SelectPeople.tsx
  src/components/shared/qrcode.tsx
  src/database/people.ts
  src/database/type.ts
  src/extension/background-script/WelcomeService.ts
  src/extension/background-script/WorkerService.ts
  src/extension/content-script/tasks.ts
  src/extension/options-page/Welcome/index.tsx
  src/extension/service.ts
  src/index.tsx
  src/setup.ts
  src/social-network-provider/facebook.com/UI/collectPeople.ts
  src/social-network-provider/facebook.com/UI/collectPosts.tsx
  src/social-network-provider/facebook.com/UI/resolveLastRecognizedIdentity.ts
  src/social-network-provider/facebook.com/Worker/autoVerifyBio.tsx
  src/social-network-provider/facebook.com/Worker/autoVerifyPost.tsx
  src/social-network-provider/facebook.com/getPersonIdentifierAtFacebook.ts
  src/social-network-provider/facebook.com/shared-provider.ts
  src/social-network-provider/facebook.com/ui-provider.ts
  src/social-network-provider/facebook.com/worker-provider.ts
  src/social-network-provider/options-page/index.ts
  src/social-network/defaults/emptyDefinition.ts
  src/social-network/defaults/injectComments.tsx
  src/social-network/defaults/shouldDisplayWelcome.ts
  src/social-network/shared.ts
  src/social-network/ui.ts
  src/social-network/worker.ts
  src/stories/Injections.tsx
  src/stories/OptionsPage.tsx
  src/stories/Welcome.tsx
  src/stories/demoPeople.tsx
  src/stories/index.tsx
  src/stories/shared.tsx
  src/utils/browser.storage.ts
  src/utils/equality.ts
  src/utils/jss/ConstructableStyleSheetsRenderer.ts
  yarn.lock
Labels: Component: Multiple Network, Type: Feature, Type: UI

#110 Multiple networks support(part 3): new payload version -39
  README.md
  public/manifest.json
  src/background-service.ts
  src/components/InjectedComponents/PostComments.tsx
  src/components/InjectedComponents/PostInspector.tsx
  src/components/Welcomes/0.tsx
  src/components/shared/SelectPeople.tsx
  src/crypto/crypto-alpha-39.ts
  src/crypto/crypto-alpha-40.ts
  src/database/helpers/avatar.ts
  src/database/helpers/person.ts
  src/database/post.ts
  src/extension/background-script/CryptoService.ts
  src/extension/background-script/CryptoServices/addPerson.ts
  src/extension/background-script/CryptoServices/appendShareTarget.ts
  src/extension/background-script/CryptoServices/decryptFrom.ts
  src/extension/background-script/CryptoServices/encryptTo.ts
  src/extension/background-script/CryptoServices/getMyProveBio.ts
  src/extension/background-script/CryptoServices/getSharedListOfPost.ts
  src/extension/background-script/CryptoServices/verifyOthersProve.ts
  src/extension/background-script/Debugger.ts
  src/extension/background-script/PeopleService.ts
  src/extension/background-script/WorkerService.ts
  src/extension/background-script/prepareOthersKeyForEncryption.ts
  src/extension/options-page/Welcome/index.tsx
  src/extension/service.ts
  src/key-management/people-gun.ts
  src/network/gun-servers.ts
  src/network/gun/version.1.ts
  src/network/gun/version.1/index.ts
  src/network/gun/version.1/people.ts
  src/network/gun/version.1/posts.ts
  src/network/gun/version.2.ts
  src/network/gun/version.2/hash.ts
  src/network/gun/version.2/index.ts
  src/network/gun/version.2/people.ts
  src/network/gun/version.2/post.ts
  src/social-network-provider/facebook.com/UI/collectPosts.tsx
  src/social-network-provider/facebook.com/UI/resolveLastRecognizedIdentity.ts
  src/social-network-provider/facebook.com/shared-provider.ts
  src/social-network-provider/facebook.com/ui-provider.ts
  src/social-network-provider/facebook.com/worker-provider.ts
  src/social-network-provider/options-page/index.ts
  src/social-network/defaults/emptyDefinition.ts
  src/social-network/defaults/shouldDisplayWelcome.ts
  src/social-network/shared.ts
  src/social-network/ui.ts
  src/social-network/worker.ts
  src/utils/browser.storage.ts
  src/utils/memoize.ts
  src/utils/type-transform/Payload.ts
Labels: Component: Crypto, Component: GUN, Component: Multiple Network, Protocol: Post & comment, discussion: security

#121 fix bugs and add new features
  config-overrides.js
  src/_locales/en/messages.json
  src/_locales/zh/messages.json
  src/background-service.ts
  src/components/InjectedComponents/AdditionalPostContent.tsx
  src/components/InjectedComponents/CommentBox.tsx
  src/components/Welcomes/1a3.tsx
  src/components/Welcomes/1a4.auto.tsx
  src/components/Welcomes/Banner.tsx
  src/content-script.ts
  src/extension/background-script/CryptoServices/decryptFrom.ts
  src/extension/background-script/PeopleService.ts
  src/extension/background-script/WelcomeService.ts
  src/extension/mock-service.ts
  src/extension/options-page/Welcome/index.tsx
  src/extension/service.ts
  src/index.tsx
  src/provider.ui.ts
  src/provider.worker.ts
  src/setup.ts
  src/setup.ui.ts
  src/social-network-provider/facebook.com/UI/collectPosts.tsx
  src/social-network-provider/facebook.com/UI/injectPostBox.tsx
  src/social-network-provider/facebook.com/UI/injectPostInspector.tsx
  src/social-network-provider/facebook.com/UI/injectWelcomeBanner.tsx
  src/social-network-provider/facebook.com/UI/resolveLastRecognizedIdentity.ts
  src/social-network-provider/facebook.com/tasks/pasteIntoPostBox.ts
  src/social-network-provider/facebook.com/ui-provider.ts
  src/social-network/defaults/injectCommentBox.tsx
  src/social-network/ui.ts
  src/stories/Injections.tsx
  src/utils/jss/renderInShadowRoot.tsx
  src/utils/type-transform/BackupFile.ts
Labels: Component: Comments, Component: Compose box, Type: Bug, Type: Feature

#95 Definitions of twitter (preview) (step 1)
  just.config.js
  package.json
  src/components/Welcomes/1a1b.tsx
  src/provider.ui.ts
  src/provider.worker.ts
  src/social-network-provider/facebook.com/UI/collectPeople.ts
  src/social-network-provider/facebook.com/UI/collectPosts.tsx
  src/social-network-provider/facebook.com/UI/injectPostInspector.tsx
  src/social-network-provider/facebook.com/UI/injectWelcomeBanner.tsx
  src/social-network-provider/facebook.com/UI/resolveLastRecognizedIdentity.ts
  src/social-network-provider/facebook.com/Worker/fetchPostContent.ts
  src/social-network-provider/facebook.com/getPersonIdentifierAtFacebook.ts
  src/social-network-provider/facebook.com/index.ts
  src/social-network-provider/facebook.com/tasks/pasteIntoPostBox.ts
  src/social-network-provider/facebook.com/ui-provider.ts
  src/social-network-provider/twitter.com/index.ts
  src/social-network-provider/twitter.com/ui/dataSources.ts
  src/social-network-provider/twitter.com/ui/fetch.ts
  src/social-network-provider/twitter.com/ui/index.ts
  src/social-network-provider/twitter.com/ui/inject.tsx
  src/social-network-provider/twitter.com/ui/tasks.ts
  src/social-network-provider/twitter.com/utils/fetch.ts
  src/social-network-provider/twitter.com/utils/selector.ts
  src/social-network-provider/twitter.com/utils/status.ts
  src/social-network-provider/twitter.com/utils/url.ts
  src/social-network-provider/twitter.com/utils/user.ts
  src/social-network-provider/twitter.com/worker/fetch.ts
  src/social-network-provider/twitter.com/worker/index.ts
  src/social-network-provider/twitter.com/worker/tasks.ts
  src/social-network/defaults/FriendsValueRef.ts
  src/social-network/defaults/injectCommentBox.tsx
  src/social-network/defaults/injectComments.tsx
  src/social-network/defaults/injectPostInspector.tsx
  src/social-network/ui.ts
  src/utils/assert.ts
  src/utils/type.ts
  src/utils/utils.ts
  yarn.lock
Labels: Component: Multiple Network, Network: twitter.com

#128 fix: a better SSR plugin based on HtmlWebpackPlugin's doc
  config-overrides.js
Labels: Dev: Build
